@import "imports/variables.css";

body {
  background-color: pink;
  color: var(--maintext-color);
  font-family: var(--body-font-family);
  margin: 0px;
  display: flex;
  flex-direction: column;
}

header,
h1,
h2 {
  font-family: var(--header-font-family);
}

h1 {
  font-size: 20px;
  margin: 0;
}

header,
footer {
  background-color: var(--header-footer-color);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  position: relative;
  align-items: center;
}

nav {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0;
  padding-right: 50px;
  top: 100%;
  background-color: var(--header-footer-color);
}

nav a {
  text-decoration: none;
  display: block;
  color: var(--text-header-footer-color);
  padding: 20px 20px;
}

nav,
#nav-checkbox {
  display: none;
}

#nav-checkbox:checked ~ nav {
  display: block;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo a {
  text-decoration: none;
  color: var(--text-header-footer-color);
}

img {
  max-width: 370px;
  height: auto;
}
