@import "imports/variables.css";

body {
  background-color: var(--background-color);
  color: var(--maintext-color);
  font-family: var(--body-font-family);
  margin: 0px;
  display: flex;
  flex-direction: column;
}

main {
  padding: 10px;
  font-size: 16px;
}

main p {
  width: 90%;
  margin: 20px auto;
}

h1 {
  font-size: 30px;
  margin: 0;
}

header,
h1,
h2 {
  font-family: var(--header-font-family);
}

.bold {
  font-weight: 600;
}

/*---------Header and footer---------*/

header,
footer {
  background-color: var(--header-footer-color);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  position: sticky;
  z-index: 1000;
  top: 0;
  align-items: center;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

header a img {
  width: 70%;
  max-width: 370px;
}

nav {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0;
  padding: 20px 50px 20px 10px;
  top: 100%;
  background-color: var(--header-footer-color);
}

nav a {
  text-decoration: none;
  display: block;
  color: var(--text-header-footer-color);
  padding: 10px 20px;
  font-size: 18px;
}

nav,
#nav-checkbox {
  display: none;
}

#nav-checkbox:checked ~ nav {
  display: block;
}

.hamburger i {
  font-size: 40px;
  cursor: pointer;
}

.current {
  font-weight: bold;
  text-decoration: underline;
}

footer {
  padding: 40px;
}

.footer-links-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
}

.footer-links-grid p {
  margin: 0px 0px 15px;
}

footer img {
  display: block;
  width: 200px;
  height: auto;
  margin: 20px auto;
}

hr {
  color: #ca1de6;
}

.copyright {
  color: #61686e;
  margin: 40px 0px 0px;
}
/*---------Header and footer---------*/

/*---------Main--------*/
.hero p {
  max-width: 1500px;
}

.hero-img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgb(0, 0, 0, 0.25);
}

.container-button {
  text-align: center;
  margin: 20px auto 50px;
}

.hero-button {
  display: inline-block;
  text-decoration: none;
  color: var(--text-button-color);
  background-color: var(--button-color);
  border-radius: 8px;
  padding: 12px 70px;
  font-weight: 600;
  box-shadow: 0px 1px 4px rgb(0, 0, 0, 0.25);
}

.special-events-header {
  font-size: 26px;
  text-align: center;
  margin: 10px;
}

.block {
  background-color: rgba(115, 165, 235, 0.4);
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.block img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

/*---------Main--------*/

/*---------Media queries header---------*/
@media (min-width: 1150px) {
  nav {
    display: inline-block;
    position: static;
  }

  nav a {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}
/*---------Media queries header---------*/

/*---------Media queries main--------*/

@media (min-width: 1150px) {
  main {
    font-size: 20px;
  }

  h1 {
    font-size: 36px;
  }

  .container-button {
    margin: 40px auto 50px;
  }

  .hero-button {
    padding: 12px 150px;
  }

  .block {
    display: flex;
    padding: 0px;
    max-width: 1800px;
    margin: 30px auto;
  }

  .block-paragraphs {
    display: block;
    flex-direction: column;
    padding: 15px 0;
  }

  .block:nth-child(3) p {
    order: 2;
  }

  .block:nth-child(3) img {
    order: 1;
  }
}

/*---------Media queries main--------*/

/*---------Media queries footer---------*/
@media (min-width: 1150px) {
  footer div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  footer img {
    margin: 0px;
  }

  .footer-links-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
  }

  .footer-links-grid p {
    margin: 0px;
  }
}
/*---------Media queries footer---------*/
