@import "imports/variables.css";

body {
  background-color: var(--background-color);
  color: var(--maintext-color);
  font-family: var(--body-font-family);
  margin: 0px;
  display: flex;
  flex-direction: column;
}

header,
h1,
h2 {
  font-family: var(--header-font-family);
}

h1 {
  font-size: 20px;
  margin: 0;
}

header,
footer {
  background-color: var(--header-footer-color);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  position: relative;
  align-items: center;
}

header a img {
  width: 70%;
}

img {
  max-width: 370px;
  height: auto;
}

nav {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0;
  padding: 20px 50px 20px 10px;
  top: 100%;
  background-color: var(--header-footer-color);
}

nav a {
  text-decoration: none;
  display: block;
  color: var(--text-header-footer-color);
  padding: 10px 20px;
  font-size: 20px;
}

nav,
#nav-checkbox {
  display: none;
}

#nav-checkbox:checked ~ nav {
  display: block;
}

.hamburger i {
  font-size: 40px;
  cursor: pointer;
}

.current {
  font-weight: bold;
  text-decoration: underline;
}
