:root {
  --background-color: #e4ded5;
  --header-footer-color: #dfa2e9;
  --block-background-color: #73a5eb66;
  --button-color: #9fd08b;
  --maintext-color: #000408;
  --text-button-color: #000000;
  --text-header-footer-color: #000000;
  --header-font-family: "Nunito", serif;
  --body-font-family: "Hind Siliguri", serif;
}
